[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"

[packages]
numpy = "*"
Pillow = "*"
fonttools = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
